html {
	font-family: Helvetica;
}

h1 {
	color: Khaki;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}
h2 {
	color: white;
	font-weight: bold;

}
div {
	background-image: <img src="https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg" max-width: 100% max-height: 200px >;

}

#brushes {
	background-color: Mediumspringgreen;
	background-size: 40px;
	font-size: 32 px;
}
#frames {
	background-color: Lightcoral;
	background-size: 40px;
	font-size: 32 px;
}
#paint {
	background-color: Skyblue;
	background-size: 40px;
	font-size: 32 px;
}
#price {
	color: blue;
	font-weight: bold;
}